<nav class="nav flex-column">
    <NavLink class="nav-link" href="">Home</NavLink>
    <NavLink class="nav-link" href="exercises">Exercises</NavLink>
    <NavLink class="nav-link" href="workoutprograms">Workout Programs</NavLink>
    <NavLink class="nav-link" href="workoutsessions">Workout Sessions</NavLink>
</nav>